body{
    
    background-image: url(cloud.png);
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: italic;
    font-size: 22px;
}
        
        h1{
            text-decoration: underline;
            text-align: center;
        }

        .something{
            color:blue;
            
            
        }
        p.nothing{
            color:gray;
            font-size: 20px;
           
        }
        p.cssboxinfo{
            color: black;
            background-color: #e5e5e5;
            padding: 4px;
            border: 2px solid black;
            border-style: dotted;
            margin: 90px;
        }
        a:link{
            color: burlywood;
        }
        a:visited{
            color:silver;
        }
        a:hover{
            color: red;
        }




    