.Order{
    
    width: 80%;
    border:1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 2px 3 px #ccc;
    padding: 10px;
    margin: 10px auto;
}

.Order span{
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
    margin :2px
}