#para1{
    
    font-style: italic;
    background-color: darkmagenta;
}
#test{
    color:red
}

#main{
    
    margin: 3px;
    border: 2px solid black;
    background-color: #e5e7d0;
    width: 230px;
}
p{
   
}